
 .feedHeader {
  text-align: center;
  font-family: Arial, sans-serif;
}

.feedheadertitle {
  margin: 20px;
  font-size: xx-large;
  color: black;
  font-size: 38px;
  margin-bottom: 10px;
}
.FeedMain {
  box-sizing: border-box;
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  margin-left: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%; 
  max-width: 600px; 
  height: 30rem;
  min-height: 200px; 
}
.FeedMain h3 {
  font-size: 20px;
 
  color: #333;
}

.FeedMain p {
  font-size: 16px;
  line-height: 1.3;
  color: #666;
}

.slick-slider {
  width: 90%; 
  margin: 0 auto;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #666;
}

.slick-dots li.slick-active button:before {
  color: #000;
}
