/* Chatbot.css */

/* Styles for the chatbot container */
.chatbot-container {
    margin-left: 20px;
    position: fixed;
    margin:10px;
    bottom: 60px;
    right: 20px;
    width: 450px;
    max-height: 500px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-size: 16px;
    z-index: 998;
    overflow-y: scroll;
  }
  
  /* Styles for the chatbot header */
  .chatbot-header {
    border-bottom: 1px solid #ccc;
    padding: 12px 20px;
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  