.sigleDivValue {
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 100%;
    padding-bottom: 2%;
  } 
  

.coreValue
{   
    background: #000;
    height: 100%;
}
/* --------------------header--------------------------------- */
.coreValueHeader
{
    background: #000;    
    font-family: Arial,Helvetica,sans-serif;
   
 
}
.coreValueHeaderTitle
{
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    text-align: center;    
    padding-top: 3%;
   
}

.coreValueHeaderText{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding-bottom: 2.5%;
    
}


/*-------------------------- middle------------------------------ */

  
.value{
    background: #000;
    color : white;
    align-items: center;
    text-align: center;
    line-height: 1.8em;
    
}
 
 .valueIcon{
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.valueTitle{
   font-size: large;
   font-weight: 600;
   padding-bottom: 15%;
}

.iconBorder {
    border: 0.1px solid white; 
    padding: 4px; 
  }

.ValueContent{
    
    text-align: left;
    font-size: 16px;

}   


/* ----------------------bottom------------------------ */

.coreValueBottom
{
    font-size:2.5rem;
    font-weight: 600;
    color: white;
    text-align: center;  
    padding-bottom: 5%;
    padding-top: 2.5%;
}


