.image{
    justify-content: center;
    margin-left: 4%;
    margin-bottom: -10px;
}
.hrs{
    text-decoration: solid black;
    margin-left: 10px;
    margin-right: 10px;
}
.socialMedia-icons-ler h1{
    align-items: center;
    font-size: large;
}
.socialMedia-icons-ler a {
    color: black;
    font-size: 50px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}
  
.socialMedia-icons-ler a:hover {
    color: blue;
}