.titleBranding ,.titleConsulting{
  color: white;
  font-weight: 600;
  font-size: 30px;
}
.Branding{ 
  color:white;
}

.title{
 color:  #4BD1A0;
 font-weight: 600;
 font-size: 30px;
}

.Internship{
  color: white;
}

li{ 
  color: black;
  list-style: none;
  font-size: 25px;
}


