.titleBranding ,.titleConsulting{
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.Branding{ 
  color:white;
}

.title{
 color:  #4BD1A0;
 font-weight: 600;
 font-size: 25px;
}

.Internship{
  color: white;
}

.icons{
  width: 5rem;
}
li{ 
  color: black;
  list-style: none;
  font-size: 16px;
  
}


