.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row {
    
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    position: relative;
    width: 50vh; 
    height:35vh; 
    border-radius: 1px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-image {
    height: 15vh;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover .card-image img {
    transform: scale(1.02); 
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 14px;
    color: #333;
  }
  
 
  .card-container .card {
    border: 1px solid transparent;
    box-shadow: none;
    margin: 6rem;
  }

 
  
  
  