

   .lesson-component {
    display: flex;
    height: 90vh;
    overflow: hidden;
    background-color: #f4f4f4;
  }
  
  .lesson-list {
    background-color: white;
    padding: 16px;
    overflow-y: scroll;
    width:250px;
   
  }
  
  .chapter-list{
    color: black;
    

  }
.lesson{
  color:darkgrey;
  
}
    /*right part */
  .lesson-content {
    flex: 1;
    padding: 16px;
    overflow-y: scroll;
    background: white;
  }
  

  .currentLesson
  {
    margin-left:  5px;

  }
  

  .full-screen-button {
    float: right;
    
  }
  

  .full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
   
  }
  
  
  .lessonContentText
  {
    text-align: justify;
    margin: 15px;
  }