.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1899px;
  height: 823px; 
  object-fit: cover; 
  z-index: -1;
}

.overlay-text {
  position: absolute;
  top:25%;
  left: 50%;
  transform: translate(-50%, -50%);    
  color: black;
}

  
  .overlay-text h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;

  }

  .overlay-text p{
    font-size: 1.2rem;
    font-weight: large;
  
  }

  .overlay-text li{
    color: black;
    list-style-type: disc;
    margin-left: 2rem;
  }

  .BookNow-btn{
        text-align: center;
        margin-top: 2rem;
      
  }
 
  .GiveFeedback-container
  {
    margin-top: -10%;   
    height: 100vh;
    width:50%;
    text-align: center;align-items: center;
    margin-left: 25%;   
    margin-right: 25%;   
   background-color: rgb(253, 249, 249);
  }

  .GiveFeedback-Header h1{   
   padding-top:5%;
   justify-content: center;
  }

  .GiveFeedback-Header p{   
   
   justify-content: center;
   color: brown;
   text-align: center;
  }


 /*============bookDemo============*/

 .BookDemo-form-section {
  background: rgb(232, 220, 204);
  color: black;
  max-width: 500px;
  max-height: 600px;
  margin: auto 10%; 
  padding: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
 }

.BookDemo-form {
  margin: auto ;
 padding: 0%;
  color: #000;
 
}

.BookDemo-form h2 {
  margin-bottom: 20px;
  color: #333; 
}

.BookDemo-form-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.BookDemo-form-container p {
  margin: 10px 0;
}

.BookDemo-form-container label {
  font-weight: bold;
  text-align: left;
}

.BookDemo-form-container input[type="text"],
.BookDemo-form-container input[type="email"] {
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc; 
}

.BookDemo-form-container input[type="text"]:focus,
.BookDemo-form-container input[type="email"]:focus {
  outline: none;
  border-color: #0056b3; 
}

.Button-submit {
  color: white;
  background-color: #0056b3; 
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Button-submit:hover {
  background-color: #004080; 
}
