.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1899px;
  height: 823px; 
  object-fit: cover; 
  z-index: -1;
}

.overlay-text {
  position: absolute;
  top:25%;
  left: 50%;
  transform: translate(-50%, -50%);    
  color: black;
}

  
  .overlay-text h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;

  }

  .overlay-text p{
    font-size: 1.2rem;
    font-weight: large;
  
  }

  .overlay-text li{
    color: black;
    list-style-type: disc;
    margin-left: 2rem;
  }

  .BookNow-btn{
        text-align: center;
        margin-top: 2rem;
      
  }
 
  .GiveFeedback-container
  {
    margin-top: -10%;   
    height: 100vh;
    width:50%;
    text-align: center;align-items: center;
    margin-left: 25%;   
    margin-right: 25%;   
   background-color: rgb(253, 249, 249);
  }

  .GiveFeedback-Header h1{   
   padding-top:5%;
   justify-content: center;
  }

  .GiveFeedback-Header p{   
   
   justify-content: center;
   color: brown;
   text-align: center;
  }


 /*============bookDemo============*/

 .BookDemo-form-section {
  background: rgb(232, 220, 204);
  color: black;
  width: 600px;
  margin: auto; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
 }

.BookDemo-form {
  margin: 2rem;
  text-align: left;
  color: #000;
 
}

.BookDemo-form label {
  text-align: left;
  font-size: 1rem;
  color: #000;
}

.BookDemo-form input {
  height: 1.8rem;
  width: 80%; 
  margin-bottom: 2rem; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  
}

.BookDemo-form input:hover {
  border-color: #555;
}

.csubmit{
 
  text-align: center;
  padding: 100px;
}