/* the css is changed by Lahu */
nav{
    display: flex;
    align-items: contex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: rgba(235, 233, 244, 0.708);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none ;
    padding: 0 20px ;
    position:relative ;
}
.navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(10, 10, 27);
    transition: 0.3s ease-in-out;
}

.navbar li a:hover,
.navbar li a.active{
    color:  rgb(2, 2, 39);
}

.navbar li a:hover::after,
.navbar li a.active::after{
    content: "";
    width: 30%;
    height:2px;
    background:  black;
    position: absolute;
    bottom:-2px;
    left:20px;
}

.logoImg{

    padding: 10px;

}

/*footer*/
   .footer {
    background-color: #f4f4f4;
    padding: 50px 0;
  }
  
  .footer h2 {
    margin-left: 2%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin-left: 4%;
    margin-top: 20px;
  }
  
  .footer-section {
    flex: 1;
    color: #333;
    margin: 0 20px;
    margin-left: 5%;
  }
  
  .footer-section h2 {
    margin-left: 0;
    align-items: center;
  }
  
  .footer-section h3 {
    margin-bottom: 20px;
  }
  
  .enroll-button {
    padding: 10px 20px;
    background-color: #4c6ef5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Address {
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .contact-info p {
    margin-left: 10px;
  }
  
  /* Follow */
  .socialMedia-icons a {
    color: #01559F;
    font-size: 50px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
  }
  
  .socialMedia-icons a:hover {
    color: #333;
  }
  