.HeaderText {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    justify-self: center;
    content:normal ;
  }
.op{
  font-size: large;
  
}